/*===== LOGIN =====*/

.mainLogin {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: var(--spacing-1x);
    padding: var(--spacing-1x);
}

.login {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-0-75x);
}

.slider {
    width: 70%;
    height: 100vh;
}

/*===== LAYOUT BÁSICO DE LAS VISTAS CON SIDEBAR =====*/
.contenedorPrincipal {
    display: flex;
    height: 100vh;
    /*gap: var(--spacing-1x);*/
}

.sideBar {
    width: 15%;
    margin: var(--spacing-1x); /* Separación de los bordes de la ventana */
    border-radius: var(--border-radius-medium);
    height: calc(100vh - var(--spacing-2x)); /* Ajuste de altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-0-5x);
}

.contenido {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-1x) var(--spacing-1x) var(--spacing-1x) 0;
    gap: var(--spacing-1x); /* Espacio entre el Header flotante y el Tablero */
}


.tablaControl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

/*===== FORMULARIO DE REGISTRO DE PEDIDO =====*/

.agrupadorEntrada {
    display: flex;
    flex-direction: column;
}

.agrupadorBoton {
    display: flex;
    justify-content: center;
    gap: var(--spacing-1x); /* Agregado para separar botones */
}

/*===== TABLERO PEDIDOS =====*/
.tablero {
    display: flex; /* Faltaba para que el flex-direction funcione */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.formularioBuscador {
    margin: var(--spacing-2x) 0;
    width: 60%;
}

.contornoTablero {
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: var(--spacing-0-33x);
}

.columnaEstado {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.zonaTarjetas {
    flex-grow: 1;
    overflow-y: auto;
}


.botonesFlecha {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--spacing-0-75x);
}


/*===== TABLA INVENTARIO =====*/
.accionesInventario {
    padding: var(--spacing-1x);
    display: flex;
    gap: var(--spacing-0-5x);
    justify-content: center;
    margin: var(--spacing-1x) 0;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1x);
    padding: var(--spacing-1x) 0; 
    margin: 0 auto;
    width: fit-content; 
    background: transparent;
}